.cover {
	height: 100%;
}
.tagline {
	text-align: center;
}
.tagline h1 {
	display: inline-block;
	font-size: 48px;
	margin: 0 8px 0 0;
}
.tagline h1:nth-child(2) {
	margin: 0 auto 20px;
}
.tagline span {
	color: #38D;
}
.centre {
	width: 800px;
	margin: 0 auto;
	max-width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.links {
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
}
.links a {
	background: #38D;
	border-radius: 2px;
	border: 1px solid #27B;
	color: #FFF;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	margin: 10px 10px 12px;
	padding: 6px 15px 7px;
	text-decoration: none;
	text-shadow: 0 1px #27B;
}
.links a:hover {
	background: #4AE;
	border: 1px solid #39C;
	text-shadow: 0 1px #39C;
}
.links a:active {
	background: #4AB5F5;
	-webkit-transform:translateY(1px);
	-moz-transform:translateY(1px);
	-ms-transform:translateY(1px);
	-o-transform:translateY(1px);
	transform:translateY(1px);
}
@media all and (max-width: 775px), all and (max-height: 440px) {
	.cover {
		height: auto;
	}
	.centre {
		padding: 165px 0 125px;
		position: static;
		top: none;
		left: none;
		-webkit-transform: none;
		ms-transform: none;
		transform: none;
	}
	.links a {
		padding: 7px 15px;
	}
}
@media all and (max-width: 505px) {
	.links a {
		font-size: 16px;
	}
}
@media all and (max-width: 480px) {
	.centre {
		padding: 115px 0 75px;
	}
	.tagline h1 {
		font-size: 30px;
	}
}
@media only screen and (-webkit-device-pixel-ratio: .75) and (max-device-width: 768px), only screen and (-webkit-device-pixel-ratio: 1) and (max-device-width: 768px), only screen and (-webkit-device-pixel-ratio: 1.5) and (max-device-width: 768px), only screen and (-webkit-device-pixel-ratio: 2) and (max-device-width: 768px) {
	.links a:hover { /* Remove sticky hover state on mobile devices */ 
		background: #38D;
		border: 1px solid #27B;
		text-shadow: 0 1px #27B;
	}
	.links a:active { /* Reaffirm active state on mobile devices */
		background: #4AB5F5;
		border: 1px solid #39C;
		text-shadow: 0 1px #39C;
		-webkit-transform:translateY(1px);
		-moz-transform:translateY(1px);
		-ms-transform:translateY(1px);
		-o-transform:translateY(1px);
		transform:translateY(1px);
	}
}