*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: #FFF;
  color: #222;
  font: 400 16px 'Roboto', Helvetica, Arial, sans-serif; }

ul {
  margin: 0;
  padding: 0; }

header {
  background: #FFF;
  border-bottom: 1px solid #E5E5E5;
  color: #444;
  font-size: 18px;
  padding: 10px 0 9px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1; }

.cover {
  height: 100%;
  text-align: center; }
  .cover h1 {
    display: inline-block;
    font-size: 48px;
    margin: 0 8px 0 0; }
    .cover h1:nth-child(2) {
      margin: 0 auto 20px; }
    @media all and (max-width: 480px) {
      .cover h1 {
        font-size: 30px; } }
  .cover span {
    color: #3388dd; }
  @media all and (max-width: 775px), all and (max-height: 440px) {
    .cover {
      height: auto; } }

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 800px;
  max-width: 90%; }
  @media all and (max-width: 775px), all and (max-height: 440px) {
    .centre {
      position: static;
      top: none;
      left: none;
      -webkit-transform: none;
      ms-transform: none;
      transform: none;
      padding: 165px 0 125px; } }
  @media all and (max-width: 480px) {
    .centre {
      padding: 115px 0 75px; } }

.links {
  margin: 0 auto;
  max-width: 90%;
  text-align: center; }
  .links a {
    background: #3388dd;
    border-radius: 2px;
    border: 1px solid #27C;
    color: #FFF;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 10px 12px;
    padding: 6px 15px 7px;
    text-decoration: none;
    text-shadow: 0 1px #27C; }
    .links a.grey {
      background: #CCC;
      border: 1px solid #BBB;
      text-shadow: 0 1px #BBB; }
    .links a:hover {
      background: #44aaee;
      border: 1px solid #39D;
      text-shadow: 0 1px #39D; }
      @media only screen and (-webkit-device-pixel-ratio: 0.75) and (max-device-width: 768px), only screen and (-webkit-device-pixel-ratio: 1) and (max-device-width: 768px), only screen and (-webkit-device-pixel-ratio: 1.5) and (max-device-width: 768px), only screen and (-webkit-device-pixel-ratio: 2) and (max-device-width: 768px) {
        .links a:hover {
          background: #3388dd;
          border: 1px solid #27B;
          text-shadow: 0 1px #27B; } }
    .links a:active {
      -webkit-transform: translateY(1px);
      -moz-transform: translateY(1px);
      -ms-transform: translateY(1px);
      -o-transform: translateY(1px);
      transform: translateY(1px);
      background: #4AB5F5; }
    @media all and (max-width: 775px), all and (max-height: 440px) {
      .links a {
        padding: 7px 15px; } }
    @media all and (max-width: 505px) {
      .links a {
        font-size: 16px; } }

article {
  display: block;
  padding: 40px 0; }
  article:nth-child(odd) {
    background: #FAFAFA; }
  article:nth-child(n+2) {
    border-top: 1px solid #E5E5E5; }
  article h2 {
    font-size: 36px;
    margin: 0 0 10px;
    text-align: center;
    text-decoration: none; }
    @media all and (max-width: 480px) {
      article h2 {
        font-size: 30px; } }

img {
  border: 1px solid #E5E5E5;
  display: block;
  margin: 30px 0 40px;
  width: 100%; }

.content {
  font-size: 20px;
  margin: 0 auto;
  width: 600px;
  max-width: 80%; }
  .content p {
    color: #333;
    line-height: 1.6; }
    @media all and (max-width: 480px) {
      .content p {
        font-size: 18px; } }

footer {
  border-top: 1px solid #E5E5E5;
  display: block;
  padding: 20px 0;
  text-align: center; }

.social {
  display: inline-block;
  margin: 50px auto; }
  .social li {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    margin: 0 20px;
    vertical-align: bottom; }
    @media all and (max-width: 460px) {
      .social li {
        margin: 10px; } }
  .social a {
    border: none;
    display: block;
    height: 60px;
    width: 61px; }
  @media all and (max-width: 460px) {
    .social {
      margin: 10px auto 20px;
      width: 250px; } }

.twitter {
  background: url(../img/icons.svg) -62px 0 no-repeat; }

.twitter:hover {
  background-position: -62px -58px; }

.github {
  background: url(../img/icons.svg) 0 0 no-repeat; }

.github:hover {
  background-position: 0 -58px; }

.linkedin {
  background: url(../img/icons.svg) -122px 0 no-repeat; }

.linkedin:hover {
  background-position: -122px -58px; }

.email {
  background: url(../img/icons.svg) -183px 0 no-repeat; }

.email:hover {
  background-position: -183px -58px; }
